<div ng-show="cart.length == 0">
    <h4>Ihr Warenkorb ist leer!</h4>
</div>

<div ng-show="cart.length > 0">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Bild</th>
				<th>Marke</th>
				<th>Modell</th>
				<th>Anzahl</th>
				<th>Preis</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in cart">
				<td><img src="images/{{item.car.image}}" style="width:90px; height:60px"/></td>
				<td style="vertical-align:middle">{{item.car.brand}}</td>
				<td style="vertical-align:middle">{{item.car.model}}</td>
				<td style="vertical-align:middle">		 
					<button ng-click="decreaseAmount($index)" type="button" class="btn btn-primary"
						aria-label="Left Align">
						<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
					</button>
					{{item.amount}}
					<button ng-click="increaseAmount(item.car)" type="button" class="btn btn-primary"
						aria-label="Left Align">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					</button>
				</td>
				<td style="vertical-align:middle">{{item.car.price * item.amount | currency:'&euro;'}}</td>
				<td style="vertical-align:middle">		 
					<button ng-click="removeCar($index)" type="button" class="btn btn-default"
						aria-label="Left Align">
						<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
	
	<div id="orderDiv">
		<p id="totalPrice">Gesamt: {{ getPrice() | currency:'&euro;' }}</p>
		<button class="btn btn-primary" onclick="javascript:window.location='#/order'">Bezahlen</button>
	</div>
	
</div>

