<div ng-controller="DetailsCtrl">
	<div class="page-header">
		<h2>{{car.brand}} {{car.model}}</h2>
	</div>

   
   <div class="row" style="width: 450px; height: 300px; display: table-cell;">

	<div class="span9">
		<div id="myCarousel" class="carousel slide">
			<!-- Carousel slides -->
			<div class="carousel-inner">
				<div class="active item">
					<img src="images/{{car.image}}">
				</div>
				<div class="item">
					<img src="images/{{car.image2}}">
				</div>
				<div class="item">
					<img src="images/{{car.image3}}">
				</div>
			</div>

			<!-- Carousel nav -->
			<a class="carousel-control left" href="#myCarousel" data-slide="prev">&#60;</a>
			<a class="carousel-control right" href="#myCarousel" data-slide="next">&#62;</a>
		</div>
	</div>
</div>
   
  <div class="media-body" style="padding-left: 20px;">
    <div class="make_float col-xs-3">
    	<h4>Zustand: </h4>
   	</div>
   	<div class="col-xs-8">
   		<h4> {{car.state}}</h4>
   	</div>
	<div class="make_float col-xs-3">
		<h4>Preis: </h4>
	</div>
	<div class="col-xs-8">
		<h4> {{car.price | currency:'&euro;'}}</h4>
	</div>
	<div class="make_float col-xs-3">
		<h4>PS: </h4>
	</div>
	<div class="col-xs-8">
		<h4> {{car.horsePower}}</h4>
	</div>
	<div class="make_float col-xs-3">
		<h4>Farbe: </h4>
	</div>
	<div class="col-xs-8">
		<h4> {{car.color}}</h4>
	</div>
	<div class="col-xs-3">
		<h4>Bewertung:</h4>
	</div>
	<div class="col-xs-8">
	
	<rating ng-model="rate" max="max" ng-click="setRating()" readonly="isReadonly" state-on="'happy-bear'" state-off="'sad-bear'" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
	<span>(&#216; {{rates}})</span>	
		
		<!-- <img src="images/bear.png" style="width: 40px; height: 40px; float:left">
		<img src="images/bear.png" style="width: 40px; height: 40px; float:left">
		<img src="images/bear.png" style="width: 40px; height: 40px; float:left">
		<img src="images/bear.png" style="width: 40px; height: 40px; float:left">
		<img src="images/bear.png" style="width: 40px; height: 40px"> -->
	</div>

	<div class="col-xs-12" style="margin-top:20px;">

		<a ng-controller="CartCtrl" ng-click="addCar(car)" class="btn btn-default" role="button">In den Warenkorb</a>

	</div>
  </div>
</div>
<div><h3>Beschreibung: </h3></div><div><h4>{{car.description}}</h4></div>
<!-- 	<div class="car_picture_detail">
		<img src="images/{{car.image}}" style="width: 450px; height: 300px">
	</div>
 -->
</div>


